@font-face {
    font-family: "Comic Sans MS Bold";
	src: url('./assets/fonts/comicbd.ttf') format('ttf'),
		url('./assets/fonts/comicbd.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

body {
    font-family: "Comic Sans MS Bold", cursive, sans-serif;
    background-color: #FFD8AB;
}

.field {
    display: flex;
    flex-wrap: wrap;
    margin: 45px auto;
    max-width: 300px;
    user-select: none;

    &__status {
        width: 100%;
        color: #a6c420;
        text-align: center;
        
        & span {
            font-weight: bold;
            font-size: 38px;
        }
    }
    
    &__score {
        font-size: 38px;
        width: 92%;
        text-align: center;
        margin-bottom: 15px;
    }

    &__board {
        display: flex;
        place-content: center;
        min-width: 84px;
        min-height: 84px;
        border: 6px solid rgba(0, 0, 0, 0.897);
        opacity: 0.8;

        & span {
            margin-top: 8px;
            font-size: 50px;
            font-weight: bold;
        }
    }
}

.disabled {
    pointer-events: none;
}

.top {
    border-top: none;
}

.right {
    border-right: none;
}

.bottom {
    border-bottom: none;
}

.left {
    border-left: none;
}

.X {
    color: #D92525;
}

.O {
    color: #64B0D8;
}

.winnerColor {
    background-color: #B7D98E;
}


